.main{
	width:50%;
	height:90%;
	margin-top:0px; 
	float:left;
	padding-left: 50px;
	padding-top: 20px;
}

.theme{
	width: 95%;
  	padding: 6px 12px;
  	font-size: 14px;
  	text-align: center;
  	border: 1px solid transparent;
  	border-radius: 4px;
}

.form-setup {
	text-align: center;

}

.form-setup input{
	display: inline;
	width: 60%;
	float:right;
	margin-top: 10px;
}

.form-setup p{
	margin-top: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	text-align: right;
	width: 40%;
	height: 25px;
	float:left;
	display: inline;
	
}

.test{
	width:50%;
	margin-left: 22.5%;	
}

.rt-container{
	width: 320px;
	height: 480px;
	border: 1px solid black;
}
